* {
    background-color: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-top: 40px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    margin-left: 150px;
    border: none;
    color: #0a3871;
    margin-top: 80px;
    text-transform: lowercase;
}

::placeholder {
    color: #0a3871;
}

.text-area:focus {
    outline: none;
}

.text-mensaje {
    background-color: white;
    background-image: url("img/Muñeco.png");
    background-position: center; 
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 400px;
    margin-top: -60px; 
    padding-top: 50px;
    padding-left: 20px;
    position: fixed;
    width: 590px;
    height: 840px;
    display: flex;
}

.text-mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 18px;
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 18px;
}

.btn-copiar {
    border: 1px solid #0a3871;
    color: #0a3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    margin-left: 550px;
    margin-top: 740px;
    position: absolute;
    width: 336px;
    font-size: 18px;
}

.information {
    color: #495057;
    font-size: 18px;
}

/* Media Queries para Tablets y Smartphones */


/* Media Query para teléfonos inteligentes */
@media only screen and (max-width: 600px) {
   
    main {
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-left: 10px;
    }

    .text-area {
        margin-top: 20px;
        width: 80%;
        margin-left: 0;
        font-size: 28px;
    }

    .information{
        font-size: 16px;
        margin-left: 0;
    }

    .text-mensaje {
        margin-left: 0;
        margin-top: 20px;
        width: 85%;
        height: 550px;
        position: relative;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .btn-encriptar{
       margin-left: 0;
       margin-bottom: 10px;
       width: 85%;

    }

    .btn-desencriptar{
        margin-left: 0;
        margin-bottom: 10px;
        width: 85%;
    }

    .btn-copiar{
        margin-left: 110px; 
        position: absolute;
        top: 630px;
        width: 20%;
        font-size: 16px;
        height: 50px; 
    }
}

/* Media Query para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1366px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    .text-area {
        margin-top: 20px;
        width: 80%;
        margin-left: 0;
        font-size: 28px;
    }

    .text-mensaje{
        margin-top: 35px;
        margin-left: -290px;
        height: 400px;
    }

    .btn-copiar{
       position: absolute;
        left: 10px;
        width: 20%;
        height: 50px; 
        top: 410px;
    }
}

/* Media Query para pantallas de escritorio */
@media only screen and (min-width: 1367px) {
    main {
        margin: auto; /* Centrar el contenido en la página */
        max-width: 1200px; /* Establecer un ancho máximo para el contenido */
    }

    .text-area {
        width: 50%; /* Reducir el ancho del área de texto */
        font-size: 24px; /* Reducir el tamaño de la fuente si es necesario */
    }

    .text-mensaje {
        margin-left: 0; /* Alinear el área de mensaje a la izquierda */
        width: 40%; /* Reducir el ancho del área de mensaje */
        height: 600px; /* Ajustar la altura del área de mensaje */
        margin-top: 20px; /* Agregar un margen superior */
    }

    .botones {
        margin-top: 20px; /* Ajustar el margen superior de los botones */
        margin-right: 40px;
    }

    .btn-copiar {
        margin-left: 220px; /* Mover el botón copiar al lado derecho */
        margin-top: 550px; /* Ajustar el margen superior del botón copiar */
    }
}